body{
    background-color: rgb(166, 230, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0,1 );
}
.container .left_side
{
    position: relative;
    background-color:#003147;
    padding: 40px;
}
.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0,1 );
}
.profiletext .imgBx{
    position: relative;
    height:200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgBx img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profiletext h2 span{
    font-size: 0.6em;
    font-weight: 300;
}
.contactinfo{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactinfo ul{
    position: relative;
}
.contactinfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo ul li a{
    color: #fff;
    text-decoration: none;
}
.contactinfo ul li .icon{
    display: inline-block;
    color: #38a2d3;
}
.contactinfo ul li span{
    color: #fff;
    font-weight: 300;
}/*Education*/
.educationinfo li{
    margin-bottom: 15px;
}
.educationinfo h5{
  color: #38a2d3;
  font-weight: 700;
}
.educationinfo h4 :nth-child(){
    color: #fff;
    font-weight: 500;
}
.educationinfo h4 {
    color: #fff;
    font-weight: 500;
}
/*language info */
.languageinfo span{
    color: #fff;
}
.languageinfo .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #030303;
    display: block;
    margin-top: 5px;
}
.languageinfo .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #38a2d3;
}
/*design for right side */
.container .right_side
{
    position: relative;
    background-color:#fff;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #0a2836;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #265b74;
}
.experience .box{
    display: flex;
    flex-direction:row;
    margin: 20px 0;
}
.experience .box .year_compnay{
    min-width: 150px;
}
.experience .box .year_compnay h5{
    text-transform: uppercase;
    color: #11252e;
    font-weight: 600;
}
.experience .box .text h4{
 text-transform: uppercase;
 font-weight: 600;
 color: #38a2d3;
 font-size: 16px;
}
.skill .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-content: center;
}
.skill .box h4{
    text-transform: uppercase;
    color:#265b74;
    font-weight: 500;

}
.skill .box .percentage{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #8c9296;
}
.skill .box .percentage div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #38a2d3;
}
/*Interest*/
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    color: #663662;
    font-weight: 500;
    margin: 10px,0;
}
.interest ul li .fa{
    color: #38a2d3;
    font-size: 18px;
    width: 20px;
}
@media(max-width:1000px) {
    .container
    {
        margin: 10xp;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul
    {
        grid-template-columns: repeat(2,1fr);
    }
}
